@import url('https://fonts.googleapis.com/css2?family=Inter&family=Kanit:wght@300&family=Noto+Sans:ital,wght@0,400;0,700;1,300&family=Roboto&family=Rubik&display=swap');
body {
    font-family: 'Inter', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
}

@keyframes FadeIn {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}